body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    background-color: #333;
    color: #bdbdbd;
    padding: 10px 0;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

h2 {
    color: #bdbdbd;
    text-align: center;
}

p {
    color: #bdbdbd;
    font-size: 20px;
    text-align: center;
}

p a {
    color: #bdbdbd;
    text-decoration: none;
}

p a:hover {
    color: #8d8d8d;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}